In [30]:
import csv
# Excel-like format
import pandas as pd
#data visualization

import numpy as np

In [31]:
matrix = pd.read_csv('data/Mrevised.csv', header=None, sep=',')
matrix

          0    1  2    3
0  0.000000  0.5  1  0.0
1  0.333333  0.0  0  0.5
2  0.333333  0.0  0  0.5
3  0.333333  0.5  0  0.0

In [32]:
m = matrix.rename(columns={0: 'one', 1: 'two', 2: 'three',3: 'four'})
m

        one  two  three  four
0  0.000000  0.5      1   0.0
1  0.333333  0.0      0   0.5
2  0.333333  0.0      0   0.5
3  0.333333  0.5      0   0.0

In [34]:
v = .25
for row in matrix:
    vector = (v *m['one'] + v*m['two'] + v*m['three'] + v*m['four'])
    print(vector)
    v = vector

0    0.375000
1    0.208333
2    0.208333
3    0.208333
dtype: float64
0    0.562500
1    0.173611
2    0.173611
3    0.173611
dtype: float64
0    0.843750
1    0.144676
2    0.144676
3    0.144676
dtype: float64
0    1.265625
1    0.120563
2    0.120563
3    0.120563
dtype: float64