In [1]:
import csv
# Excel-like format
import pandas as pd
#data visualization

import numpy as np

In [2]:
matrix = pd.read_csv('data/Mrevised.csv', header=None, sep=',')
matrix

          0    1  2    3
0  0.000000  0.5  1  0.0
1  0.333333  0.0  0  0.5
2  0.333333  0.0  0  0.5
3  0.333333  0.5  0  0.0

In [3]:
m = matrix.rename(columns={0: 'one', 1: 'two', 2: 'three',3: 'four'})
m

        one  two  three  four
0  0.000000  0.5      1   0.0
1  0.333333  0.0      0   0.5
2  0.333333  0.0      0   0.5
3  0.333333  0.5      0   0.0

In [31]:
from numpy import array
v = array([.25, .25, .25, .25])
for row in matrix:
    vector = (matrix @ v)
    print(vector)
    v = vector

0    0.375000
1    0.208333
2    0.208333
3    0.208333
dtype: float64
0    0.312500
1    0.229167
2    0.229167
3    0.229167
dtype: float64
0    0.34375
1    0.21875
2    0.21875
3    0.21875
dtype: float64
0    0.328125
1    0.223958
2    0.223958
3    0.223958
dtype: float64